.card{
    background-color: #ffffff;
    border-radius: 20px;
    width: fit-content;
    min-width: 210px;
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-image{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: block;
    height: fit-content;
}
.card .title{
    text-transform: capitalize;
    font-size: 1.2em;
    text-align: left;
    margin: 1em;
}
.card .description{
    font-size: .8em;
    text-align: left;
    color: #585757;
    margin: 0 1.4em;
    margin-bottom: 1.5em;
}
.card .bottom-image{
    display: block;
    margin: 0 auto;
    width: 80%;
}
.card .bottom-cta{
    display: block;
    width: 100%;
    text-align: center;
    padding: 1em;
    margin-top: 1em;
    background-color: #5A6F80;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: #ffffff;
}