*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter","Poppins",Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
}