.progress-bar-container{
    margin: 3em 0 1em 0;
}
.progress-bar-container .progress-bar{
    height: 40px;
    background-color: #ffffff;
    border-radius: 50px;
    width: 100%;
}
.progress-bar-container .progress-bar .progress{
    height: 40px;
    background-color: #36BB24;
    border-radius: 50px;
    width: 20%;
}
.progress-bar-container .progress-pointer{
    background-image: url(images/tooltip.svg);
    background-size: contain;
    width: 73px;
    height: 75px;
    background-repeat: no-repeat;
    margin-left: 17%;
}
.progress-bar-container .progress-pointer p{
    text-align: center;
    width: 100%;
    height: 100%;
    margin:0 0 0 .3em;
    padding: 2.1em 0 0 0;

}