ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
}
section.mainWrapper{
    margin-left: 220px;
}
nav{
    float: left;
    width: fit-content;
    max-width: 240px;
    height: 100vh;
    background-color: #27ae60;
    position: sticky;
    top: 0;
}
nav div.top{
    display: flex;
    align-items: center;
}
nav div.top .logo{
    width: 38px;
    margin: 1em;
    cursor: pointer;
}
nav div.top h2{
    margin: 1em 1em 1em 0;
    cursor: pointer;
    color: white;
}
nav .side-menu li a{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: .3em 1em;
    justify-content: flex-start;
    border-bottom: 1px solid #F0F8FF;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}
nav .side-menu li:hover{
    background-color: #0f9011;
}
nav .side-menu li a.active{
border-left: 5px solid #ffffff;
background-color: #27ae60;
}
nav .side-menu li a .icon{
    margin: 1em;
    width: 28px;
}
nav .side-menu li a .arrow{
    margin: 0 1em;
}
nav .side-menu li a .tab-link{
    color: #F0F8FF;
}
nav::after{
    content: "";
    display: block;
    clear: both;
}
header#forumHeader{
    background-color: #E6F4EA;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 2;
    padding: 0 1em;
}
header div.left{
    display: flex;
    align-items: center;
}
header div.left img{
    width: 32px;
}
header .right{
    display: inline-flex;
    align-items: center;
}
header .center ul li{
    display: inline;
    cursor: pointer;
    margin: 0 1em;

}
header .center li a img{
    width: 32px;
    padding: 1em 0;
}
header .center li a:hover{
    border-bottom: 1px solid #36BB24;
}
header .right a.log-in,.primary-cta{
    font-family: "Inter";
    background-color: #36BB24;
    padding: .4em 1em;
    margin: 0 1em;
    border-radius: 10px;
    color: #ffffff;
    transition: 0.3s;
}
header .right a.sign-up, .secondary-cta{
    font-family: "Inter";
    background-color: #ffffff;
    padding: .4em 1em;
    margin: 0 1em;
    border-radius: 10px;
    color: #36BB24;
    border: 1px solid #36BB24;
    margin-right: none;
    transition: 0.3s;
}
header .right a.log-in:hover{
    background-color: #ffffff;
    color: #36BB24;
    border: 1px solid #36BB24;
}
header .right a.sign-up:hover{
    background-color: #36BB24;
    color: #ffffff;
    
}
.tab{
    padding: 1em;
}
.home-component .hero-image{
    background-image: url(assets/images/banner-item-01.jpg);
    color: white;
    margin: 1em;
    width: fit-content;
    padding: 2em 4em;
    border-radius: 20px;
    background-size: cover;
    margin-top: -43%;
    margin-left: 57%;
}
.home-component .hero-image p{
    display: flex;
    align-items: center;
    margin: 2em 1em;
    text-transform: capitalize;
}
.home-component .hero-image h1{
    padding:1em 0;
    text-transform: capitalize;
}
.home-component .homeTabHero{
    width: 100%;
    background-color: #E6F4EA;
    border-radius: 50px;
    margin: 5em 0 3em 0;
    height: fit-content;
}
.home-component .homeTabHero h1{
    padding: 1em;
    color: #3F3D56;
    text-transform: capitalize;
    font-size: 3em;
}
.home-component .homeTabHero p{
    padding: 0 2em 3em 2em;
    width: 50%;
}
.specs{
    background-color: #27ae60;
    display: flex;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    padding: 2em 1em;
    color: white;
    justify-content: space-around;
}
.specs .item{
    margin: 1em 0;
}
.specs .item .number{
    font-size: 50px;
}
.specs .item .description{
    width: 100%;
    text-align: center;
}
.admins{
    margin-top: 2em;

}
.admins h1{
    text-align: center;
    margin: 2em 0;
    text-transform: capitalize;
    color: #4a476b;
}
.admins .AdminCardContainer{
    display: flex;
    margin-top: 5em;
    justify-content: space-around;
}
.admins .AdminCardContainer .admin-card{
    background-color: #E6F4EA;
    border-radius: 5%;
    width: fit-content;
    text-align: center;
    padding: 1em;
    margin: 1em;
    flex-basis:100%;
    
}
.admins .AdminCardContainer .admin-card .profile{
    border-radius: 50%;
    display: block;
    border: 5px solid #E6F4EA;
    margin: -65px auto 0 auto;
}
.admins .AdminCardContainer .admin-card .description{
    font-size:1em;
    font-style: italic;
    font-family: "Koho";
    margin: 1em 0;
    color: #3F3D56;
}
.admins .AdminCardContainer .admin-card .title{
    font-size: 1.1em;
    font-weight: 600;
    color: #27ae60;
    margin: 1em 0;
}
.admins .AdminCardContainer .admin-card .name{
    font-size: 1em;
    font-weight: 450;
    color: #36BB24;
    margin: 1em 0;
}
.stories-component .title{
    text-align: center;
    text-transform: capitalize;
    font-size: 2em;
    color: #292e47;
    margin: 1em 0;
}
.stories-component .search input{
    width: 100%;
    border-radius: 10px;
    padding: .4em;
    font-size: 1.5em;
    text-align: center;
    margin: 1em 0;
    border: none;
    box-shadow: 0px 0px 3px 0px #127705;
    border-color: #0ac63f;
}
.stories-component .search{
    padding: 0 1em;
}
.stories-component .filters-wrapper{

    background-color: #edf3ed;
}
.stories-component .filters-wrapper h2{
    margin: .5em 0;
}
.stories-component .filters{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding: 2em;
}
.stories-component .filter-card{
    border-radius: 10px;
    min-width: 200px;
    height: 200px;
    margin: 0 1em;
    background-size:cover;
    background-repeat: no-repeat;
    
}
.stories-component .filter-card .profile{
    width: 40px;
    border-radius: 50%;
}
.stories-component .filter-card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    cursor: pointer;
    justify-content: space-between;
    transition: 0.3s;
}
.stories-component .filter-card:hover{
    transform: translateY(-7px);
}
.stories-component .filter-card .bottom{
    background-color: black;
    border-radius: 10px;
    padding: .4em 1em;
    margin: .5em;
    color: #ffffff;
    align-self: flex-end;
}
.stories-component .filter-card .top{
    display: flex;
    align-items: center;
}
.stories-component .filter-card .top span{
    margin: 0 1em;
}
.grid-container{
    display: grid;
    gap: 1rem;
    grid-template-columns: 50% 50%;
}
.card.thumbnail{
    width: fit-content;
    box-shadow: #E6F4EA 0px 0px 5px 1px;
    background-color: white;
    width:95%;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    transition: 1s;
}
.card.thumbnail .top-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 1em 0;
}
.card.thumbnail .top-bar .left{
    display: flex;
    align-items: center;
}
.card.thumbnail .top-bar .left .profile{
    width: 35px;
    border-radius: 50%;
    border: 2px solid #36BB24;
    margin: 0 .5em;
    cursor: pointer;
}
.card.thumbnail .top-bar .left .user-name{
    display: block;
    padding: .5em;
    border-radius: 10px;
    font-size: 0.9em;
    color: #292e47;
}
.card.thumbnail .top-bar .left .user-name:hover{
    background-color: #f0f1f5;
    cursor: pointer;
}
.card.thumbnail .top-bar .right .date{
    font-size: 0.7em;
    color: #292e47;
}
.card.thumbnail .post .illustration{
    display: block;
    margin: 0 auto;
    width:100%;
}
.card.thumbnail .bottom-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
}
.card.thumbnail .bottom-bar .post-title{
    color: #2F2E41;
    margin: 1em;
    max-width: 250px;
    display: block;
}
.card.thumbnail .bottom-bar .link{
    color: #ffffff;
    padding: .6em 1.5em;
    border-radius: 20px;
    background-color: #36BB24;
    justify-content: space-between;
    display: flex;
}
.card.thumbnail .bottom-bar .link:hover{
    background-color: #0ac63f;
}
.card.thumbnail .bottom-bar .link .arrow{
    margin: 0 0 0 .5em;
}

.storyWrapper{
    padding: 1em;
    margin-left: 1.5em;
}
.storyWrapper .storyTopNav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: .3em 0 .5em 0;
    padding-bottom: .8em;
}
.storyWrapper .storyTopNav .search{
    width: 40%;
    border-radius: 10px;
    padding: .4em .4em;
    font-size: 1.1em;
    text-align: center;
    border: none;
    box-shadow: 0px 0px 2px 0px #36BB24;
    border-color: #0ac63f;
    margin-bottom: .4em;
    color: #3F3D56;
}
.contentArea{
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 20px;
}
.contentArea .sideSuggestions{
    width: 90%;
    height: 100%;

}
.storyWrapper .storyCard, .sideSuggestions{
    border-radius: 10px;
    box-shadow: 0px 0px 3px grey;
    padding:0 1em;
}
.storyWrapper .storyCard .video{
    width: 100%;
}
.storyCard .storyTopBar{
    display: flex;
    align-items: center;
    background-color: #ffffff;
}
.storyCard .storyTopBar .topBarItem{
    padding: .5em;
    text-transform: capitalize;
    margin: .5em;
    cursor: pointer;
    border-radius: 5px;
}
.storyCard .storyTopBar .topBarItem.userProfile{
    padding: .5em;
    margin: .5em;
    width: 42px;
    margin-right: 0;
}
.storyCard .storyTopBar .topBarItem:hover{
    background-color: #f0f1f5;
}
.storyBottomBar .strip{
    display: flex;
    padding: .5em 0;
    align-items: center;
    text-transform: capitalize;
}
.storyBottomBar .strip .reactionitem{
    display: flex;
    padding: 10px 0px;
    align-items: center;
    text-transform: capitalize;
}
.storyBottomBar .strip .reactionitem.chatBtn{
    margin-left: auto;
}
.storyBottomBar .strip .reactionitem:hover{
    background-color: #f0f1f5;
    cursor: pointer;
    border-radius: 5px;
}
.storyBottomBar .strip .reactionitem .reactionicon{
    width: 25px;
    cursor: pointer;
}
.storyBottomBar .strip .likeCount{
    color: #0ac63f;
}
.storyBottomBar .strip .loveCount{
    color: #c6580a;
}
.storyBottomBar .strip .reactionicon, .reactiontext{
    margin: 0px 10px;
}
.sideSuggestions h3{
    width: 100%;
    text-align: center;
    color: #4a476b;
    text-transform: capitalize;
    margin: 1em 0;
}
.sideSuggestions p.errorMessage{
    width: 100%;
    text-align: center;
    color: #27ae60;
    text-transform: capitalize;
}
.sideSuggestions .similarStoriesContainer{
    width: 100%;
    padding: 1em .5em;
}
.sideSuggestions .similarStoriesContainer .similarStory{
    display: block;
    width: 100%;
    height: 150px;
    border-radius: 10px;
    background-size: cover;
    box-shadow: 0px 0px 2px black;
    margin: 1em 0;
}
.sideSuggestions .similarStoriesContainer .similarStory p.title{
    width: 100%;
    text-align: center;
    color: #ffffff;
}
.sideSuggestions .similarStoriesContainer .similarStory .colourWrapper{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.623),rgba(0, 0, 0, 0.327),rgba(0, 0, 0, 0.075));
    display: flex;
    flex-direction: column;
    justify-content:end;
    border-radius: 10px;
    padding: 1em;
}


.breadCrumbContainer{
    padding: 0.6em 1em;
    border-radius: 10px;
    background-color: #E6F4EA;
}
.breadCrumbContainer .crumbItem .crumbText{
    padding: .5em;
    margin: 0 .4em;
    border-radius: 10px;
    color: #27ae60;
}
.breadCrumbContainer .crumbItem .crumbSeparator{
    color: #27ae60;
}
.breadCrumbContainer .crumbItem .crumbText:hover{
    background-color: #d0e7d6;
    color: #27ae60;

}
@media screen and (max-width:1100px) {
    nav .side-menu li a .arrow{
        display: none;
    }
    nav .side-menu li a .tab-link{
        display: none;
    }
    nav div.top h2{
        display: none;
    }
    section.mainWrapper {
        margin-left: 90px;
    }
    .stories-component .filter-card {
        min-width: 150px;
        height: 150px;
    }
}
@media screen and (max-width:800px) {
    section.mainWrapper {
        margin-left: 70px;
    }
    nav .side-menu li a {
        padding: .3em 0;
    }
    .grid-container {
        grid-template-columns: 100%;
    }
    header .right a.sign-up{
        display: none;
    }
}